
:root {
  font-size: calc(0.625rem + 0.4vw);
  --grey: #f0eef1;
  --blue: #2192FF;
  --black: #242424;
  --red: #ff7070;
  --lightGreen: #9fff9c;
  --lightRed: #ff9c9c;
  --border-radius: 8px;
  --spacing-xs: 5px;
  --spacing-sm: 10px;
  --spacing-md: 15px;
  --spacing-lg: 20px;
  --spacing-xl: 50px;
  --shadow: 0px 0px 5px rgba(0, 0, 0, 0.3);

}

body {
  min-width: 300px;
  width: 100vw;
  height: 100vh;
  font-family: 'Poppins', sans-serif;
  background-color: var(--grey);
  box-sizing: border-box;
}

.navbar{
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 10vh;
  padding: var(--spacing-xl);
  box-sizing: border-box;
  font-size: 2.5rem;
  background-color: var(--blue);
  color: white;
}

.navbar-button label {
	width:85px;
	height:40px;
	position: relative;
	display: inline-block;
	background: #ebebeb;
	border-radius: 50px;
	box-shadow: inset 0px 5px 13px rgba(0,0,0,0.3), inset 0px -5px 15px rgba(255,255,255,0.4);
	cursor: pointer;
	transition: 0.3s;
}
.navbar-button label:after {
	content: "";
	width:30px;
	height: 30px;
	position: absolute;
	top:5px;
	left:5px;
	background: linear-gradient(180deg,#ffcc89,#d8860b);
	border-radius: 180px;
	box-shadow: 0px 5px 10px rgba(0,0,0,0.2);
	transition: 0.3s;
}
.navbar-button input {
	width: 0;
	height: 0;
	visibility: hidden;
}
.navbar-button input:checked + label {
	background: var(--black);
}
.navbar-button input:checked + label:after {
	left:50px;
	transform: translateX(-40%);
	background: linear-gradient(180deg,#777,#3a3a3a);
}
.navbar-button label:active:after{
	width: 40px;
}

.main-container{
  padding-bottom: var(--spacing-xl);
}

.main-container .addBook{
  height: 20vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.main-container .addBook button{
  font-family: inherit;
  font-weight: 900;
  color: inherit;
  width: 30%;
  height: 40%;
  font-size: 1.3rem;
  cursor: pointer;
  word-wrap: break-word;
  border: none;
  background-color: rgba(202, 202, 202, 0.4);
  border-radius: 10px;
  max-width: 200px;
}

.main-container .addBook button:hover, button:hover{
  filter: brightness(0.8);
}

.main-container .book-grid{
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(27vw, 1fr));
  gap: var(--spacing-xl);
  margin: 0 var(--spacing-xl);
  text-align: center;
  box-sizing: border-box;
}

.main-container .book-card {
  min-width: 233px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  font-family: 'Poppins', sans-serif;
  font-size: 1.3rem;
  font-weight: 500;
  gap: var(--spacing-md);
  padding: var(--spacing-md);
  border-radius: var(--border-radius);
  background-color: white;
  box-shadow: var(--shadow);
  line-height: 1;
}

.main-container .book-card h1{
  font-size: 1.6rem;
  line-height: 1.3;
}

.btn{
 font-family: inherit;
 border-radius: 5px;
 border: none;
 font-size: 1.3rem;
 font-weight: 500;
 padding: var(--spacing-xs);
 width: 100%;
 cursor: pointer;
}

.green-background{
  background-color: var(--lightGreen);
}

.red-background{
  background-color: var(--lightRed);
}

.popup {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  background-color: rgba(0, 0, 0, 0.5);
  
}

.popup form{
  background-color: var(--grey);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  width: 30vw;
  height: 60vh;
  padding: var(--spacing-lg);
  border-radius: 20px;
  font-family: inherit;
  animation-name: animatemodel;
  animation-duration: .4s ;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
  min-width: 233px;
}

.popup form h1{
  font-size: 1.7rem;
  margin: var(--spacing-md);
}

.popup form .input{
  width: 95%;
  height: 5vh;
  font-size: 1.3rem;
  border-radius: var(--border-radius);
  border: none;
  padding: var(--spacing-sm);
}

.is-read{
  display: flex;
  justify-content: space-between;
  font-size: 1.3rem;
  margin: var(--spacing-md);
  gap: 5px;
  align-items: center;
}

.is-read #isRead{
  width: 20px;
  height: 20px;
}



/* Animation */
@keyframes animatemodel{
  from{
      top:-300px;
      opacity: 0;
  }

  to{
      top:50%;
      opacity: 1;
  }
}

@media (max-width: 400px) {

  :root {
    --spacing-xl: 20px;
  }

  .main-container .book-grid{
    grid-template-columns: repeat(auto-fill, minmax(70vw, 1fr));
  }

  .main-container .addBook button{
    width: 40%;
  }

  .popup form{
   
    width: 70vw;
    height: 50vh;

  }
}


html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
    display: block;
}
body {
    line-height: 1;
}
ol, ul {
    list-style: none;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}